
config BSP_SUPPORT_FPU
    bool "Using Float"
    default n

menuconfig BSP_USING_VM_MODE
    bool "Enable VM mode"
    default n

menu "Hardware Drivers Config"
    menu "BCM Peripheral Drivers"
        menuconfig BSP_USING_UART
            bool "Using UART"
            select RT_USING_SERIAL
            default y

            if BSP_USING_UART
                config RT_USING_UART0
                bool "Enable UART 0"
                default y

                config RT_USING_UART1
                bool "Enable UART 1"
                default n
            endif

        menuconfig BSP_USING_SDIO
            bool "Enable SDIO"
            select RT_USING_SDIO
            default y

            if BSP_USING_SDIO

                choice BSP_SDIO_DEV
                    prompt "Select SDIO device"
                    default BSP_USING_SDIO0
                    help
                        Select the SDIO device to be used.

                    config BSP_USING_SDIO0
                        bool "Enable SDIO0"

                        if BSP_USING_SDIO0
                            config BSP_SDIO0_EMMC
                            bool "Enable eMMC"
                            default n

                            config BSP_SDIO0_1V8
                            bool "Enable 1.8V"
                            default n
                        endif

                    config BSP_USING_SDIO1
                        bool "Enable SDIO1"
                endchoice

                config BSP_SD_MNT_DEVNAME
                    string "The name of the SD-BlkDev to be mounted"
                    default "sd0p1"
                        config BSP_USING_PIN

                config RT_MMCSD_DBG
                    bool "Enable SDIO debug"
                    default n
            endif

        menuconfig BSP_USING_GIC
            bool "Enable GIC"
            select RT_USING_GIC
            default y

            if BSP_USING_GIC
                choice
                    prompt "GIC Version"
                    default BSP_USING_GICV3

                    config BSP_USING_GICV2
                        bool "Enable GIC400(GICV2)"

                    config BSP_USING_GICV3
                        bool "Enable GIC500(GICV3)"
                endchoice
            endif

        config KERNEL_ASPACE_START
            hex "Kernel aspace start address"
            default 0x0

        config BSP_USING_PIN
            bool "Using PIN"
            select RT_USING_PIN
            default y

        config BSP_USING_CLK
            bool "Enable Clock Controller(CLK)"
            default n

        menuconfig BSP_USING_PCIE
            bool "Enable PCIE"
            default n

            if BSP_USING_PCIE
                choice
                    prompt "PCIE MODE"
                    default BSP_USING_PCIE_EP

                    config BSP_USING_PCIE_EP
                        bool "PCIE EP"

                    config BSP_USING_PCIE_RC
                        bool "PCIE RC"
                endchoice
            endif

        config BSP_USING_CORETIMER
            bool "Using core timer"
            select RT_USING_CORETIMER
            default y

        menuconfig BSP_USING_SYSTIMER
            bool "Enable SYSTIMER"
            default n

        if  BSP_USING_SYSTIMER
            config RT_USING_SYSTIMER1
                bool "Enable sys timer1"
                default n
            config RT_USING_SYSTIMER3
                bool "Enable sys timer3"
                default n
        endif

        config BSP_USING_GMAC
            bool "Enable Synopsys GMAC driver"
            depends on RT_USING_LWIP
            default n

        if BOARD_PKG_USING_RPMSG_LITE
            config BSP_USING_RPMSG_NET
                bool "Using RPMSG-NET"
                select RT_USING_LWIP
                select RT_USING_MUTEX
                default n

            if BSP_USING_RPMSG_NET
                config BSP_USING_RPSH
                    bool "Enable RPSH remote shell server"
                    default n
                    help
                        Remote MSH over rpmsg-net (EtherType 0x88B6). Depends on rpmsg-net.

                config BSP_RPMSG_NET_BIND_CPU0
                    bool "Pin rpmsg-net stack to one CPU (SMP)"
                    depends on RT_USING_SMP
                    default y
                    help
                        Binds tcpip, erx, etx, rpnet_rx, rpmsg_wait, sh_srv to BSP_RPMSG_NET_CPU.
                        Rpmsg-lite DW timer IRQ affinity is configured separately below (same CPU by default).

                config BSP_RPMSG_NET_CPU
                    int "Target CPU index for rpmsg-net / RPSH / lwIP workers"
                    depends on BSP_RPMSG_NET_BIND_CPU0
                    range 0 15
                    default 0

                config BSP_RPMSG_NET_IRQ_FOLLOW_WORKER_CPU
                    bool "Rpmsg timer IRQs use same CPU as workers"
                    depends on BSP_RPMSG_NET_BIND_CPU0
                    default y
                    help
                        When set, GIC affinity for rpmsg_platform DW timer IRQs (TIMER_IRQ_START+2,+3)
                        matches BSP_RPMSG_NET_CPU. Clear to set BSP_RPMSG_NET_IRQ_CPU instead.

                config BSP_RPMSG_NET_IRQ_CPU
                    int "Dedicated CPU for rpmsg-lite DW timer IRQs (GIC)"
                    depends on BSP_RPMSG_NET_BIND_CPU0 && !BSP_RPMSG_NET_IRQ_FOLLOW_WORKER_CPU
                    range 0 15
                    default 0
            endif
        endif
    endmenu
endmenu
